.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  display: flex;
  margin: auto  ;
  top:0;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 80%;
  border-radius: 15px;
  animation: modal 2s ease-in-out ;
  transform: translateY(5%) ;
  transition: all .3s ease-in-out;

}
@keyframes modal {
  from{
      transform: translateY(-100%) ;

  }
  to{
      transform: translateY(8%)  ;

  }
}
.cancel{
  width: 5%;
  margin: auto;
  animation: drop 60s;
  transform: translateY(-100%) ;

}


.imgContainer
{

  margin: 20px 20px;
  display: flex;
}
.red{
margin: auto;
}
.hide{
  display: none;
}